PORT=5000
STARTING_CASH=100000
TRADING_FEE_PCT=0.001
BENCHMARK_TICKER=SPY
PRICE_CACHE_TTL=60
MIN_SIGNAL_CONFIDENCE=0.70
SCREEN_SCHEDULE_CRON=0 20 * * 1-5
SCREEN_INTRADAY_CRON=*/15 9-16 * * 1-5
BENCHMARK_SNAPSHOT_CRON=0 21 * * 1-5
DB_PATH=open_equity.db
WATCHLIST_PATH=watchlist.json
